$bold-fonts: "Fredoka One", cursive;
$regular-fonts: "Quicksand", sans-serif;

@import "../Colors/Colors.scss";

h1, h2, h4{
    font-family: $bold-fonts;
}

.container-services{
    font-family: $regular-fonts;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;
    font-size: 1.1rem;
    line-height: 1.5;
    .services-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        margin: auto;
        background-color: $white;
        border-radius: 10px;
        // height: 100vh;
        .services-description{
            align-self: center;
            padding: 30px;
        }
        .services-content{
            align-self: center;
            padding: 30px;
            h2{
                width: 25%;
                padding-bottom: 15px;
                border-bottom: 2px solid $orange;
            }
            p{
                margin-top: 30px;
            }
            Button{
                transform: translatey(0px);
	            animation: float 6s ease-in-out infinite;
                margin-top: 30px;
            }
        }
    }.services-img{
        border-radius: 10px;
    }


    // Modal view btn click 
    .Modal {
        /* fixed position will always show modal in the top left corner */
        position: fixed;
        top: 0;
        left: 0;
        /* z-index to show modal even if it is used before some other elements */
        z-index: 5;
        /* make modal fill whole window */
        width: 100vw;
        height: 100vh;
        /* add some background to blur content behind modal */
        background: rgba(255, 255, 255, 0.8);
        /* center content inside modal */
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .Component {
        min-width: 200px;
        min-height: 100px;
        background-color: $white;
        padding: 20px;
      }
      
    //   .App {
    //     width: 100vw;
    //     height: 100vh;
    //     text-align: center;
    //     background: lightblue;
    //   }
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 4px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}