// $bold-fonts: 'Oswald', sans-serif;
// "Fredoka One", cursive;
$regular-fonts: "Quicksand", sans-serif;
$main-header-font: 'Josefin Sans', sans-serif;
@import "../Colors/Colors.scss";

h3{
    font-family: $regular-fonts;
}

.container-home{
    font-family: $regular-fonts;
    font-size: 1.1rem;
    line-height: 1.5;
    display: flex;
    justify-content: space-between;
    .home-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        margin: auto;
        margin-top: -40px;
        height: 100vh;
        .home-description{
            width: 60%;
            color: $black;
            h1{
                font-size: 3rem;
                font-family: $main-header-font;
                font-weight: bolder;
                color: $black;
            }
        }
        .home-image{
            align-self: center;
        }
    }
}