@import "../Colors/Colors.scss";

@media screen and (max-width: 600px) {
    .container-home{
        // margin-top: 50px;
        line-height: normal;
        width: 100%;
        height: auto;
        // background-color: red;
        .home-container {
            flex-direction: column-reverse;
            width: 90%;
            padding: 5px;
            height: auto;
            justify-content: flex-start;
            .home-description{
                width: 100%;
                padding: 10px;
                margin-top: -20px;
            }
            .home-img{
                width: 100%;
            }
        }
    }
    img{
        width: 400px;
        height: 400px;
        margin-left: -20px;
    }
}